<section class="list scrollable">
	<div class="listcontainer scrollable">
	<% _.each(collection, function(model) { %>
		<a href="#search/<%= model.id %>">
			<div class="line container">
				<div class="col-xs-9 col-md-9 tags">
					<% _.each(model.tagstring.split(" "), function(tag) { %>
						<span><%= tag %></span>
					<% }) %>
				</div>
				<div class="col-xs-3 col-md-3 count">
					<span><%= model.solutions.length %></span>
					<i class="fa fa-chevron-right fa-lg" style="color:#cacaca"></i>
				</div>
			</div>
		</a>
	<% }); %>
</section>