<header style="background-color: <%= background %>; color: <%= color %>;">
	<div class="form-horizontal container">
		<div class="form-group">
			<div class="col-xs-2 col-md-2">
				<span class="back-button" onclick="parent.history.go(-1);">
					<i class="fa fa-times fa-2x"></i>
				</span>
			</div>
			<div class="col-xs-8 col-md-8 title">
				<%= title %>
			</div>
			<div class="col-xs-2 col-md-2">
				<span class="submit">
					<i class="fa fa-plus-square fa-2x"></i>
				</span>
			</div>
		</div>
	</div>
</header>