<!DOCTYPE html>
<html>
	<head>
		<title>Test</title>
		<meta charset="UTF-8">
		
		{% if id %}
		    <meta property="og:url" content="https://www.friendsbest.net/fb/link/{{ id }}/" />
            <meta property="og:title" content="Do you have a recommendation for a {{ tagstring }}?" />
        {% else %}
            <meta property="og:secure_url" content="https://www.friendsbest.net/fb/link/0/" />
            <meta property="og:title" content="Do you have something you want to recommend?" />
        {% endif %}
        <meta property="og:type" content="article" />
        <meta property="og:description" content="Use FriendsBest to quickly share your recommendation with your Facebook friends!" />
        <meta property="og:image" content="https://www.friendsbest.net/post.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="430" />
        <meta property="og:image:height" content="314" />
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" charset="utf-8"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" charset="utf-8"></script>
	</head>
<body>
    
    {% if id %}
        <h1>Do you have a recommendation for a {{ tagstring }}?</h1>
    {% else %}
        <h1>Do you have something you want to recommend?</h1>
    {% endif %}
    
    <h2>This page should redirect to FriendsBest.net</h2>
        
</body>
</html>