

	<div class="container">
		<div class="row text-center logo">
		    <img src="logo-white.png">
	    </div>
		<div class="row explain">
			  <div class="col-xs-12 text-center">
				  FriendsBest let's you search and share recommendations with your Facebook friends.
			  </div>
		</div>
	</div>	  

	<div class="container login">
		  <div class="row">
	    <div class="col-xs-12 text-center">
			<div class="fb-login-button"><i class="fa fa-facebook-official fa"></i> Log In With Facebook</div>
		</div>
	  </div>
	</div> 
