<footer>
  <div class="container">
  	  <div class="row">
        <div class="col-xs-12 text-center">
			<div class="fb-login-button"><i class="fa fa-facebook-official fa"></i> Log in with Facebook</div>
		</div>
      </div>
  </div> 
</footer>

<section class="">
    <div class="container loadmore">
	    <div class="row head text-center">&nbsp;</div>
	    <div class="row topic text-center light">Friends<strong>Best</strong></div>
	    <div class="row foot text-center">&nbsp;</div>
    </div>
</section>