<footer>
  <div class="container">
  	  <div class="row">
        <div class="col-xs-2 text-center">
            <a href="#">
    	        <i class="fa fa-home fa-2x" style="color:#646d77"></i>
            </a>
        </div>
        <div class="col-xs-8 text-center">
            <a href="#profile">
                <img src="https://graph.facebook.com/v2.5/<%= id %>/picture?type=small" alt="" class="img-circle profilebutton" width="30" height="30">
            </a>
		</div>
        <div class="col-xs-2 text-center">
	        <a href="#recommend">
		        <i class="fa fa-plus-square fa-2x" style="color:#59c939"></i>
	        </a>
        </div>
      </div>
  </div> 
</footer>