<header class="mainsearch">
	<form class="form-horizontal container" id="query">
		<div class="form-group">
			<a href="#search">
				<div class="col-xs-2 col-md-2 history">
					<i class="fa fa-history fa-2x" style="color:#abb4ba"></i>
				</div>
			</a>
			<div class="col-xs-8 col-md-8 search">
				<label for="search-field" class="sr-only">Search Tags</label>
				<input id="search-field" type="search" class="form-control">
			</div>
			<div class="col-xs-2 col-md-2 submit">
				<i class="fa fa-search fa-2x" style="color:#abb4ba"></i>
			</div>
		</div>
	</form>
</header>