<header class="mainsearch">
	<form class="form-horizontal container" id="query">
		<div class="form-group">
			<a href="#search">
				<div class="col-xs-2 col-md-2 history">
    				<span class="fa-stack fa">
					    <i class="fa fa-history fa-stack-2x fa-2x" style="color:#abb4ba"></i>
					    <i id="notification" class="fa fa-circle fa-stack-1x" style="color:#f00; display:none;"></i>
    				</span>
				</div>
			</a>
			<div class="col-xs-8 col-md-8 search">
				<label for="search-field" class="sr-only">Search Keywords</label>
				<input id="search-field" type="search" class="form-control" placeholder="I want a recommendation for...">
			</div>
			<div class="col-xs-2 col-md-2 submit">
				<i class="fa fa-search fa-2x" style="color:#abb4ba"></i>
			</div>
		</div>
	</form>
</header>