<section class="newrecommendation">
	<div class="container">
        <div class="row thing well well-sm">
            <div class="col-xs-8 text">
                <% if(type == "TEXT") { %>
                    <%= detail %>
                <% } %>
                <% if(type == "URL") { %>
                    <%= host %>
                <% } %>
            </div>
            <div class="col-xs-4 arrow">
            	<i class="fa fa-i-cursor fa-fw"></i>
            </div>
    	</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<form>
    				<div class="form-group">
						<label for="tags">Search Keywords</label>
						<input type="text" class="form-control" id="tags" value="<%= tagstring %>" placeholder="">
					</div>
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea class="form-control noresize" id="comments" rows="4" placeholder="Explain why you're making this recommendation. Remember that any of your friends will be able to search for this recommendation based on the search tags entered above."></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>