<section class="newrecommendation">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<form>
					<div class="form-group">
						<label for="recommendation">Recommendation for</label>
						<input type="text" class="form-control" id="description">
					</div>
					<div class="form-group">
						<label for="tags">Search tags</label>
						<input type="text" class="form-control" id="tags" value="<%= tags %>">
					</div>
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea class="form-control noresize" id="comments" rows="3"></textarea>
					</div>
					<div class="form-group submit">
						<i class="fa fa-plus-square fa-2x" style="color:#59c939"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>