<section class="newrecommendation">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<form>
    				<div class="form-group">
						<label for="tags">Keywords</label>
						<input type="text" class="form-control" id="tags" value="<%= tags %>" placeholder="">
					</div>
					<div class="form-group">
						<label for="recommendation">Recommendation</label>
						<input type="text" class="form-control" id="description" placeholder="A product, place, business, etc.">
					</div>
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea class="form-control noresize" id="comments" rows="4" placeholder="Explain why you're making this recommendation. Remember that any of your friends will be able to search for this recommendation based on the search tags entered above."></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>