<section class="menu">
	<div class="container">
    	<div class="row hint">
        	What kind of thing do you want to recommend?
    	</div>
	    <div class="row button dark" id="place">
            <div class="col-xs-8 text">
                Place
            </div>
            <div class="col-xs-4 arrow">
            	<i class="fa fa-map-o fa-fw"></i>
            </div>
	    </div>
	    <div class="row button dark" id="url">
            <div class="col-xs-8 text">
                Website
            </div>
            <div class="col-xs-4 arrow">
            	<i class="fa fa-external-link fa-fw"></i>
            </div>
	    </div>
	    <div class="row button dark" id="text">
            <div class="col-xs-8 text">
                Text
            </div>
            <div class="col-xs-4 arrow">
            	<i class="fa fa-i-cursor fa-fw"></i>
            </div>
	    </div>
	</div>
</section>