<section class="menu">
	<div class="container">
    	<div class="row hint">
        	What type of recommendation do you want to make?
    	</div>
        <div class="row button dark" id="TEXT">
            <div class="col-xs-8 text">
                Custom
            </div>
            <div class="col-xs-4 arrow">
            	<i class="fa fa-i-cursor fa-fw"></i>
            </div>
	    </div>
	    <div class="row button dark" id="PLACE">
            <div class="col-xs-8 text">
                Place
            </div>
            <div class="col-xs-4 arrow">
            	<i class="fa fa-map-o fa-fw"></i>
            </div>
	    </div>
	    <div class="row button dark" id="URL">
            <div class="col-xs-8 text">
                Website
            </div>
            <div class="col-xs-4 arrow">
            	<i class="fa fa-external-link fa-fw"></i>
            </div>
	    </div>
	</div>
</section>