<section class="newrecommendation scrollable">
	<div class="container scrollable">
		<div class="fullmap scrollable">
			<div id="map" class="map scrollable"></div>	
		</div>
		<div class="row mapsearch">
			<div class="col-xs-12 col-md-12">
				<form>
					<div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Search for a place" autocomplete="off">
					</div>
				</form>
			</div>
		</div>
		<div class="row placebox" id="placebox" style="display:none;">
			<div class="col-xs-10 current">
				<i class="fa fa-times cancel"></i>
				<div class="place">
					<div class="name">
						
					</div>
					<div class="address">
						
					</div>
				</div>
			</div>
			<div class="col-xs-2 next">
				<i class="fa fa-plus-square fa-lg"></i>
			</div>
		</div>
	</div>
</section>