<section class="newrecommendation">
	<div class="container">
    	<div class="row hint">
        	What do you want to recommend?
    	</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<form>
					<div class="form-group">
						<div class="input-group">
						    <input type="text" class="form-control" id="detail" placeholder="A product, place, business, etc." autocomplete="off">
						    <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-chevron-right fa-fw"></i>
                                </button>
                            </span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>