<header>
	<form class="form-horizontal container">
		<div class="form-group">
			<div class="col-xs-2 col-md-2">
				<a href="#search" >
					<span class="fa-stack fa-lg history-button">
						<i class="fa fa-history fa-stack-2x" style="color:#abb4ba"></i>
						<i class="fa fa-circle fa-stack-1x" style="color:#e93929; display:none;"></i>
					</span>
				</a>
			</div>
			<div class="col-xs-10 col-md-10 search">
				<label for="search-field" class="sr-only">Search Tags</label>
				<input id="search-field" type="text" class="form-control">
			</div>
		</div>
	</form>
</header>