<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.friendsbest.net"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="app.friendsbest.net.permission.C2D_MESSAGE"/>
    <uses-sdk android:minSdkVersion="21"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/fb_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>
        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBBy4tWLInt7ZCEIq1yzSqpF_wEFc5FkhQ"/>
        <activity
        android:name=".ui.LoginActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:label="@string/app_name">
        </activity>
        <activity
        android:name=".ui.DualFragmentActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait">
        </activity>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="app.friendsbest.net" />
            </intent-filter>
        </receiver>
        <service android:name=".data.services.AppGcmListenerService"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".data.services.GcmIDListenerService"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".data.services.RegistrationIntentService"
            android:exported="false"/>
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1519942364964737"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
    </application>
</manifest>
