    html {
	  position: relative;
	  min-height: 100%;
	  overflow: hidden;
	}
    body {
	    position: absolute;
        overflow: hidden;
		
		font-family: "proxima-nova-condensed";
		height: 100%;
		width: 100%;
		
	    background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #e8edef 80%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e8edef 80%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ffffff 0%,#e8edef 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    
    .view {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    max-height: 800px;
    }
	
	header {
	  position: absolute;
	  top: 0;
	  width: 100%;
	  height: 80px;
	  font-size: 13px;
	}
	
	header.searchhistory {
		background-color: #abb4ba;
		color: #ffffff;
	}
	
	header.searchhistory i {
		color: #ffffff;
		text-shadow: none;
	}
	
	header.recommend {
		background-color: #59c939;
		color: #ffffff;
	}
	
	header.recommend i {
		color: #ffffff;
		text-shadow: none;
	}
	
	header .title {
		text-align: center;
		font-size: 24px;
	}
	
	section {
		position: absolute;
		max-height: 700px;
		top:80px;
		bottom: 90px;
		width: 100%;
	}
	
	section.list {
		bottom: 0;
		padding: 0;
		overflow-x: scroll;
	}
	
	section.list::-webkit-scrollbar { 
	    display: none; 
	}
	
	.listcontainer {
		overflow: scroll;
		margin-top: 10px;
	}
	
	.list a {
		text-decoration: none;
		color: inherit;
	}
	
	.list a:hover {
		color: inherit;
	}
	
	.list .item {
		margin-top: 5px;
		margin-bottom: 5px;
		background-color: #fff;
		padding: 10px 10px 10px 8px;
		box-shadow: 1px 1px 3px rgba(45, 50, 61, 0.50);
		-webkit-border-radius: 3px;
	}
	
	.list .item div {
		padding: 0;
	}
	
	.list .item .tags span {
		background-color: #e8edef;
		padding: 4px 6px;
		-webkit-border-radius: 3px;
		border: 1px solid #abb4ba;
	}
	
	.list .item .count {
		text-align: right;
	}
	
	footer {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  max-height: 860px;
	  font-size: 15px;
	  width: 100%;
	}
	
	.form-group {
		margin-bottom: 0;
	}
	
	.newrecommendation .form-group {
		margin-top: 10px;
	}
	
	.container {
		padding: 0;
	}
	
	header .container {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	
	footer .container {
		position: absolute;
		bottom: 25px;
		width: 320px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	
	.swipable { }
	
	.prompt {
		height: 100%;
		min-height: 300px;
		background-color: #abb4ba;
		background: -moz-linear-gradient(top, #d7dbdd 0%, #abb4ba 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #d7dbdd 0%, #abb4ba 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #d7dbdd 0%, #abb4ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		-webkit-border-radius: 8px;
		box-shadow: 0px 0px 3px rgba(45, 50, 61, 0.28);
		-webkit-transform: translateZ(0);
	}
	
	.loadmore {
		height: 100%;
		min-height: 300px;
		background-color: #e8edef;
		-webkit-border-radius: 8px;
		box-shadow: 0px 0px 3px rgba(45, 50, 61, 0.28);
		-webkit-transform: translateZ(0);
	}
	
	.prompt .item {
		position: relative;
		font-size: 25px;
		font-weight: 500;
		text-align: center;
		background-color: #cacaca;
	}
	
	i {
		text-shadow: 1px 1px 1px #dee5e9;
	}
	
	.card {
		position: relative;
		top: 0;
		bottom: 0;
	}
	
	.card .top {
		padding-top: 20px;
	}
	
	.search {
		padding-left: 10px;
	}
	
	.row.head {
		position: absolute;
		top: 25px;
		right: 15px;
		left: 15px;
		font-size: 20px;
	}
	
	.row.topic {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		font-size: 30px;
		font-weight: 600;
	}
	
	.row.light {
		font-weight: 400;
	}
	
	.row.foot {
		position: absolute;
		bottom: 25px;
		left: 15px;
		right: 15px;
	}
	
	@media (min-width: 320px) { .container { max-width: 320px; } }
	@media (max-width: 320px) { .container { max-width: 280px; } }